{% extends 'base.html' %}

{% block content %}
    <h1 class="ms-3 pb-3 d-inline my-3">Manage Categories</h1>
    {% comment %} <a type="button" class="btn btn-outline-primary position-absolute end-0 my-2 w-25 me-3"  data-bs-target="#AddCategoryModal">
        
    </a> {% endcomment %}
    <button type="button" class="btn btn-outline-primary position-absolute end-0 my-2 w-25 me-3" data-bs-toggle="modal" data-bs-target="#AddCategoryModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill mb-1" >
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
        </svg>
        Add Category
    </button>
    <div class="modal fade" id="AddCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl mb-5">
          <div class="modal-content m-5">
            <div class="modal-header">
                <h4>Add Category</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <center>
                    {% if submitted %}
                        Your category was created successfully!!!
                    {% else %}
                        <form action="" method=POST>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Submit" class="btn btn-outline-secondary w-75">
                        </form>
                    {% endif %}
                </center>
            </div>
          </div>
        </div>
      </div>
    {% for category in category_list %}
        <center>
            <div class="card my-3 shadow w-75">
                <div class="card-header">
                    <p><strong>{{category}}</strong></p>
                </div>
                <div class="card-body">
                    <p>House: {{category.house}}</p>
                </div>
            </div>
        </center>
    {% endfor %}
{% endblock %}