{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row container-fluid py-3 h-75">
            <div class="d-grid gap-1" style="grid-template-columns: 1.8fr 1.2fr;">
                <div class="bg-light border rounded-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ item }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cost: ${{ item.cost }}</li>
                            <li class="list-group-item">Category: {{ item.category }}</li>
                            {% if item.placement %}
                                <li class="list-group-item">Location: {{ item.placement }}</li>
                            {% endif %}
                            {% if item.account %}
                                <li class="list-group-item">Online Account: {{ item.account }}</li>
                            {% endif %}
                            {% if item.sold_price %}
                                <li class="list-group-item">Sold? <strong>Yes</strong></li>
                                <li class="list-group-item">Sold Price: {{ item.sold_price }} </li>
                            {% endif %}
                        </ul>
                        <div class="card-footer text-primary">
                            <p>Expiry Date: {{ item.expiry_date }}</p>
                            <p>Last Time Used: {{ item.last_time_used }}</p>
                        </div>
                    </div>
                    <center>
                        <div class="container-md d-flex flex-row">
                            <a type="button" class="btn btn-outline-secondary my-3 mx-5" style="width: 25%;" href="{% url 'update_item' item.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                                Edit Item
                            </a>
                            <a type="button" class="btn btn-danger my-3 mx-5" style="width: 25%;" href="{% url 'update_item' item.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                                Delete Item
                            </a>
                        </div>
                    </center>
                </div>
                <div class="bg-light border rounded-3">
                    {% if item.item_image %}
                        <img class="card-img-top" src="{{item.item_image.url}}" alt="item">
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        {% include 'lockdown.html' %}
    {% endif %}
{% endblock %}