{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <center>
            <div class="container-fluid shadow card py-5 w-75">
                <h1>Update item</h1>
                <form action="" method=POST enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br/>
                <input type="submit" value="Update" class="btn btn-primary w-25">
            </div>
        </center>
    {% else %}
        {% include 'lockdown.html' %}
    {% endif %}
{% endblock %}